body{
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-image: url(../images/bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin: 0 166px;
}
.header-line{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-item{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-right: 25px;
    transition: color 0.3s linear;
}
.nav-item:hover{
    color: coral;
}
.cart{
    position: relative;

    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 50px;
}
.cart-img {
    position: absolute;
    top:20px;
}
.phone-number-style{
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;

}
.phone-number-style:hover{
    color: coral;
}
.phone-subtitle{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}
.phone-holder{
    display: flex;
    align-items: center;
}
.order-button{
    color: #FFF;
    background-color: coral;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;

    transition: 0.3s linear;
}
.order-button:hover{
    color: coral;
    background-color: #FFF;
}

.header-down{
    position: relative;
}
.header-down-overhead{
    color: coral;
font-family: Tinos;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;

text-align: center;
position: absolute;
left: 0;
margin-top: 322px;

}
.header-down-title{

}
.header-down-subtitle{
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.header-down-subtitle::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 56px;
}
.header-down-subtitle::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 300px;
}
.header-down-btn{

}
.header-down-button-link{
    background-color: coral;
    padding: 14px 28px;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;

    transition: 0.3s linear;
}
.header-down-button-link:hover{
    color: coral;
    background-color: #FFF;
}
.cards-wrapper {
    display: flex;
    gap: 31px;
}

.card{
    background: #FFF;
box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.10);

width: 33%;
}
.card-image{
    
    display: flex;
    justify-content: center;
    padding-top: 31px;
}
.card-title{
    display: flex;
    justify-content: center;
    color: #2C2C2C;
font-family: Tinos;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.card-title span{
    color: coral;
}
.card-desc{
    display: flex;
    justify-content: center;

    color: #656363;
text-align: center;
font-family: Tinos;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.history-title{
    color: #000;
font-family: Tinos;
font-size: 54px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.history-title span{
    color: coral;
}
.history-desc{
    color: #656363;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.counters{
    display: flex;
    gap: 80px;
    justify-content: center;
}
.counter-item {
    text-align: center;
    color: coral;
text-align: center;
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.counter-item span {
    display: block;
    color: #000;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.history-wrapper{
    display: flex;
}
.history-images{
    position: relative;
}
.history-image-1{
    position: absolute;
    z-index: 0;
    top: 54px;
    left: 211px;
}
.history-image-2{
    position: absolute;
    z-index: 0;
    top: 54px;
    left: 211px;
}
.history-image-3{
    position: absolute;
    z-index: 0;
    top: 54px;
    left: 211px;
}
.reserve{
    background-image: url(../images/reserve-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.reserve-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top:80px;
    padding-bottom: 100px;
}
.reserve-block-title{
    color: coral;
    font-family: Tinos;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reserve-block-subtitle{
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.reserve-block-button{
    
}
.reserve-block-button a{
    background: coral;
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 15px;
}
.dishes-title{
    color: #000;
font-family: Tinos;
font-size: 54px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.dishes-title span{
    color: coral;
font-family: Tinos;
font-size: 54px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.burgers {
    display: flex;
    gap: 20px;
}
.burgers-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.burger-item{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.burger-text{
    color: #000;
font-family: Tinos;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.menu{
    background-image: url(../images/bg-menu.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-items{
    display: flex;
    gap: 30px;
}
.menu-item{
    background: #FFF;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.menu-image{
    position: relative;
}
.price-image{
    position: absolute;
    background-color: coral;
}
.menu-title h2{
    padding-top: 100px;
    padding-bottom: 150px;
    color: #FFF;
    text-shadow: 2px 2px #000;
    font-family: Tinos;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu-item-title{
    color: #000;
    font-family: Tinos;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu-item-desc{
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu-item-text{
    background: coral;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 14px 67px;
    text-decoration: none;
}
.menu-img{
    border-radius: 50%;
}
.price-circle{
    padding: 50px;
    position: absolute;
    background-color: coral;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    border: 3px #fff solid;
    color:#fff;
    font-family: Tinos;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.testimonials{
    background: #E5E5E5;
    padding-top: 100px;
    padding-bottom: 140px;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.testimonial-text{
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.testimonial-img{
    border-radius: 50%;
}
.testimonial-type{
    color: #000;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.testimonial-name{
    color: #000;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.gallery__header{
    padding-top: 100px;
    padding-bottom: 60px;
    color: #000;
    font-family: Tinos;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.gallery__header span {
    color: coral;
    font-family: Tinos;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.gallery__content{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.gallery__content__left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.gallery__content__right{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.gallery__content__double{
    display: flex;
    justify-content: space-between;
}
